.section {
    margin: 50px 100px 50px 200px;
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    box-shadow: black;
    max-height: 400px;
}
.sections {
    padding-top: 15px;
    padding-bottom: 15px;
}

.paragraph {
    padding-top: 20px;
    color: #555;
    display: flex;
    flex-direction: column;
}
.contents {
    padding: 20px;
    padding-left: 40px;
    border: 1px solid #ccc;
    background-color: white;
    width: 500px;
    max-height: 280px;
}
.image {
    height: 280px;
    width: 700px;
}

.title {
    font-size: 24px;
    color: #222;
    line-height: 24px;
}
