

section .basket{
    position: relative;
    padding-left: 10px;
    margin: 0px 150px 20px 150px;
    border: 3px solid #555555;
    box-shadow: 2px 8px 20px #ddd;
    border-radius: 20px;
}
.space {
    padding-top: 50px;
}
.amount span{
    color: orangered;
    padding: 0 40px;
}
.amount .count{
    width: 40px;
    height: 30px;
    border: 1px solid #555;
    outline: none;
    background: transparent;
    cursor: pointer;
}
.delete{
    top:0;
    right: 0px;
    color: orangered;
    cursor: pointer;
    font-size: 30px;
    font-weight: 900;
}
.total{
    height: 50px;
    display: flex;
    justify-content: space-around;
    margin: 50px 150px 20px 150px;
}
.total a{
    text-decoration: none;
    background: #333;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 25px;
}
.total h3{
    margin-right: 50px;
    color: orangered;
}
.details{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px 0;
}
.details img{
    max-width: 500px;
    min-width: 290px;
    height: 300px;
    display: block;
    object-fit: cover;
    margin: 30px;
}
.details .box{
    max-width: 500px;
    min-width: 50px;
    margin: 25px;
}
.box .row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.box .row h2{
    text-transform: uppercase;
    letter-spacing: 2px;
}
.box .row span{
    color: crimson;
}
.box .colors button{
    width: 30px;
    height: 30px;
    border: 1px solid #333;
    outline: none;
    margin-right: 5px;
    cursor: pointer;
}
.box p{
    line-height: 1.5;
    margin: 15px 0;
}
.box .basket{
    background: #333;
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    display: inline-block;
}

.container {
    position: relative;
}

/* Bottom right text */
.text-block {
    position: absolute;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    top: 0px;
    left: 0px;
    background-color: red;
    color: white;
    padding-left: 0px;
    padding-top: 0px;
    min-width: 200px;
    text-align: center;
}
