header{
    min-height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}
header nav{
    float: left;
}
header ul{
    position: fixed;
    list-style-type: none;
    top:0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    text-decoration: none;
    outline: none;
}
