section {
    min-height: 1300px;
}
.auth-form{
    width:360px;
    margin: auto;
    padding: 8% 0 0;
    text-align: center;
}
.auth-form p{
    padding:15px
}
.form-group{
    text-align: left;
}
.form-group span{
    font-size: 110%;
}
.form-group input{
    margin: 0 0 15px;
    padding: 15px;
}
